<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- 6.7 Map Server --> 
  <arg name="map_file" default="$(find amcl_robot)/maps/brick_world_map.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- 6.8 AMCL node -->
  <node name="amcl" pkg="amcl" type="amcl" output="screen">
    <!-- <remap from="scan" to="amcl_robot/laser/scan"/> -->
    <!-- no remap needed, already named scan when I checked terminal -->
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="base_frame_id" value="robot_footprint"/>
    <param name="global_frame_id" value="map"/>
    <!-- got coordinates from gazebo -->
    <param name="initial_pose_x" value="0.0"/>
    <param name="initial_pose_y" value="0.0"/>
  </node>

  <!-- Robot pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- Launch other relevant files-->
  <include file="$(find my_robot)/launch/robot_description.launch"/>     
  <!-- Robot pose -->

  <!-- World File -->
  <arg name="world_file" default="$(find my_robot)/worlds/brick_world.world"/>

  <!-- Launch Gazebo World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <!-- Find my robot Description-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find my_robot)/urdf/my_robot.xacro'"/>

  <!-- Spawn My Robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
        args="-urdf -param robot_description -model my_robot 
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

    <!--launch rviz-->
  <!-- <node name="rviz" pkg="rviz" type="rviz" respawn="false"/> -->

  <!-- The drive_bot node --> 
  <node name="drive_bot" type="drive_bot" pkg="ball_chaser" output="screen">
  </node>

    <!-- The process_image node -->
  <node name="process_image" type="process_image" pkg="ball_chaser" output="screen">
  </node>

</launch>